# --- Python Artifacts ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# --- Environment Configurations ---
.env
.venv/
env/
venv/

# --- Downstream Pipeline Evaluation Outputs ---
/scene_segmentations/
*.mp4
*.json